/* --- Profile --- */
/* .img-profile {
  margin: 0 50px;
}
.img-profile img {
  width: 100%;
  border-radius: 50%;
}

.detail-profile {
  text-align: center;
}

.detail-profile h5 {
  font-weight: bold;
}

.detail-profile p{
  margin-bottom: 5px;
} */