<div class="row">
  <div class="col-md-6">

    <form action="#" [formGroup]="formTransfer" (ngSubmit)="onSubmit()">

        <div class="form-group" *ngIf="!inputPin && !inputDest">
          <label for="">Account Number <span class="mandatory">{{'' | mandatory}}</span></label>
          <select formControlName="accountNumber" id="" class="form-control">
            <option value="">Select Account Number</option>
            <option *ngFor="let i of accounts" value="{{i.accountNumber}}">{{i.accountNumber}}</option>
          </select>
        </div>

      <div class="form-group" *ngIf="!inputPin && !inputDest">
        <label for="">Nominal <span class="mandatory">{{'' | mandatory}}</span> {{nominal | currency:'Rp.'}}</label>
        <input type="number" formControlName="amount" class="form-control" [(ngModel)]="nominal" placeholder="Enter Nominal">
      </div>

      <div class="form-group" *ngIf="!inputPin && !inputDest">
          <label for="">Description </label>
          <input type="text" formControlName="description" class="form-control">
          <br>
          <button type="button" class="btn btn-primary" (click)="saveTrx()">Ok</button> &nbsp;
          <button type="button" class="btn btn-warning" (click)="back()">Back</button>
        </div>

      <div class="form-group" *ngIf="inputDest && !inputPin">
          <label for="">Destination Number <span class="mandatory">{{'' | mandatory}}</span></label>
          <input type="number" formControlName="destinationNumber" class="form-control" placeholder="Destination Number" (keyup.out)="checkAccount($event)">
          <br>
          <button type="button" class="btn btn-primary" (click)="saveAccount()" [disabled]="!isChecked">Ok</button> &nbsp;
          <button type="button" class="btn btn-warning" (click)="checkAccount()">Check</button>
        </div>

      <div class="form-group" *ngIf="inputPin">
        <label for="">Enter Pin <span class="mandatory">{{'' | mandatory}}</span></label>
        <input type="password" formControlName="pin" class="form-control" placeholder="x x x x x x">
        <br>
        <button type="submit" class="btn btn-primary">Ok</button> &nbsp;
      </div>

    </form>

  </div>

  <div class="col-md-6">
      <div class="alert alert-info" *ngIf="message == ''">
          <div class="text-center">
            <h3>A / N : {{account.accountName}}</h3>
            <h5>Total Transfer. {{trx.amount}}</h5>
          </div>
      </div>
      <div class="alert alert-warning" *ngIf="message != ''">
          <div class="text-center">
            <h3>{{message}}</h3>
          </div>
      </div>
  </div>
</div>